<!doctype html>
<html>
    <head>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        
        <title>{{title}}</title>
        <style>
            body {text-align: center;}
            .error { color: red; }
            #game-board {margin-top: 15rem;margin-bottom: 5rem;}
        </style>
    </head>
<body>
    <h1>Tic Tac Toe</h1>
  <div class="container-fluid" id="game-board">
    <div>
    <button type="button" class="btn-lg btn-primary">{{x1}}</button>
    <button type="button" class="btn-lg btn-primary">{{x2}}</button>
    <button type="button" class="btn-lg btn-primary">{{x3}}</button>
    </div>
    <div>
    <button type="button" class="btn-lg btn-primary">{{x4}}</button>
    <button type="button" class="btn-lg btn-primary">{{x5}}</button>
    <button type="button" class="btn-lg btn-primary">{{x6}}</button>
    </div>
    <div>
    <button type="button" class="btn-lg btn-primary">{{x7}}</button>
    <button type="button" class="btn-lg btn-primary">{{x8}}</button>
    <button type="button" class="btn-lg btn-primary">{{x9}}</button>
    </div>
  </div>

    {% block content %}
    
    {% endblock %}

</body>
</html>