{% extends "base.html" %}

{%block content %}

  <div class="container-fluid" id="game-board">
    <div>
    <button type="button" class="btn-lg btn-primary">X</button>
    <button type="button" class="btn-lg btn-primary">X</button>
    <button type="button" class="btn-lg btn-primary">X</button>
    </div>
    <div>
    <button type="button" class="btn-lg btn-primary">X</button>
    <button type="button" class="btn-lg btn-primary">X</button>
    <button type="button" class="btn-lg btn-primary">X</button>
    </div>
    <div>
    <button type="button" class="btn-lg btn-primary">X</button>
    <button type="button" class="btn-lg btn-primary">X</button>
    <button type="button" class="btn-lg btn-primary">X</button>
    </div>
  </div>
<a href="/game/move?start=start"><button class="btn-lg btn-danger">Start Game!</button></a>

{% endblock %}