{% extends "base.html" %}

{% block content %}
  <div class="container-fluid" id="game-board">
    <div>
    <button type="button" class="btn-lg btn-primary">{{x1}}</button>
    <button type="button" class="btn-lg btn-primary">{{x2}}</button>
    <button type="button" class="btn-lg btn-primary">{{x3}}</button>
    </div>
    <div>
    <button type="button" class="btn-lg btn-primary">{{x4}}</button>
    <button type="button" class="btn-lg btn-primary">{{x5}}</button>
    <button type="button" class="btn-lg btn-primary">{{x6}}</button>
    </div>
    <div>
    <button type="button" class="btn-lg btn-primary">{{x7}}</button>
    <button type="button" class="btn-lg btn-primary">{{x8}}</button>
    <button type="button" class="btn-lg btn-primary">{{x9}}</button>
    </div>
  </div>
  <h1>Player {{winner}} wins!</h1>
<a href="/game/move?start=start"><button class="btn-lg btn-danger">New Game</button></a>
{% endblock %}